        #chat_box_wrapper {
        position: fixed;
        right: 0;
        height: 400px;
        width: 250px;
        border: 2px solid #3B5998;
        padding: 5px;
        background-color: #FFF;
        bottom: 0px;
    }
    
    #chat_box_header {
        position: relative;
        top: -7px;
        left: -7px;
        padding: 5px;
        height: 25px;
        width: 254px;
        background-color: #3B5998;
        color: #FFF;
    }
    
    .chat_box_indicator {
        position: relative;
        float: left;
        height: 25px;
        width: 25px;
        padding-left: 5px;
    }
    
    .chat_box_indicator img {
        height: 25px;
        width: 25px;
        position: absolute;
    }
    
    .chat_box_friend_name {
        position: absolute;
        left: 15%;
        padding: 5px;
        height: 25px;
        top: 10%;
        font-size: 14px;
        width: 150px;
        float: left;
        padding-left: 5px;
    }
    
    #chat_box_Btn {
        position: relative;
        float: right;
        color: #fff;
        font-size: 12px;
        padding-top: 5px;
        padding-right: 5px;
    }
    
    i.material-icons {
        font-size: 15px;
        color: #fff;
    }
    
    #chat_box_body {
        position: relative;
        height: 300px;
        width: auto;
        overflow: auto;
        padding: 10px;
        background-color: #EBF4FA;
    }
    
    #chat_box_drawer {
        position: absolute;
        right: -150px;
        height: 312px;
        width: 100px;
        overflow: hidden;
        padding: 10px 10px;
        background-color: #000;
        color: #fff;
        position: absolute;
top:33px;
        background: #2F2F2F none repeat scroll 0% 0%;
        overflow-x: hidden;
        overflow-y: auto;
        transition: all 1s ease 0s;
        z-index: 2;
        
    }
    
    #chat_box_drawer.drawer_right {
        transition: 1s;
        right: 0px;
    }
    
    #chat_box_drawer ul {
        list-style: none;
        padding: 0;
    }
    
    #chat_box_drawer li a {
        display: block;
        color: #fff;
        text-decoration: none;
        text-align: left;
        padding: 5px;
        font-size: 12px;
    }
    
    #chat_box_drawer li {
        margin: 0;
        width: 100%;
        padding: 10px 0
    }
    
    #chat_box_drawer {
        padding-top: 10px;
    }
      #chat_box_drawer li a:hover {
       background-color:#fff ;
       color: #000;
    }
    #chat_box_footer {
        position: relative;
        height: 20px;
        width: 240px;
        overflow: auto;
        background-color: #fff;
        padding: 10px;
        left: -5px;
        right: -5px;
        border-top: 1px solid #3B5998;
        margin-top: 5px;
    }
    
    #chat_box_text_area {
        position: relative;
        float: left;
        width: 215px;
    }
    
    #chat_box_send_Btn {
        right: 0;
        position: relative;
        float: right;
        width: 20px;
        height: 25px;
        padding-top: 5px;
    }
    
    #chat_box_send_Btn i.material-icons {
        font-size: 20px;
        color: #3B5998;
    }
    
    a {
        color: #fff;
    }
    
    input {
        position: relative;
        width: 215px;
        float: left;
    }
    
    @media screen and (min-width:) {
        body {
            background-color: lightblue;
        }